#block{
    width: 20px;
    height: 20px;
    position: relative;
    top: 40px;
    left: 100%;
    animation: block 5s infinite linear;
}

@keyframes block{
    0%{left: 100%}
    50%{left: 0px}
    100%{left: 100%}
}